[submodule ".vim/bundle/colorschemes"]
	path = .vim/bundle/colorschemes
	url = git@github.com:flazz/vim-colorschemes.git
[submodule ".vim/bundle/pathogen"]
	path = .vim/bundle/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundle/colorstepper"]
	path = bundle/colorstepper
	url = git://github.com/qualiabyte/vim-colorstepper.git
